<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="editor-option">
      <label>Time Field</label>
      <select ng-show="fields.list.length>0"style="width:85%" ng-model="panel.timeField" ng-options="f for f in fields.list"></select>
    </div>
    <div class="editor-option">
      <label>Time Display Format (Short) <i class="icon-question-sign" bs-tooltip="'This format will be used for displaying the time field in table.<br /><br />y : year<br />m : minute<br />s: second<br />S: millisecond<br />h: 12 hour format<br />MM: month (numeric representation)<br />MMM: month (abbrevated text representation)<br />MMMM: month (full text representation)<br />k: AM/PM<br />H: hour<br />E: day<br />Z: timezone abbreviation<br />'"></i></label>
      <input type="text" ng-model="panel.timeFormatShort" />
    </div>
    <div class="editor-option">
      <label>Time Display Format (Long) <i class="icon-question-sign" bs-tooltip="'This format will be used for displaying the time field in details.<br /><br />y : year<br />m : minute<br />s: second<br />S: millisecond<br />h: 12 hour format<br />MM: month (numeric representation)<br />MMM: month (abbrevated text representation)<br />MMMM: month (full text representation)<br />k: AM/PM<br />H: hour<br />E: day<br />Z: timezone abbreviation<br />'"></i></label>
      <input type="text" ng-model="panel.timeFormatLong" />
    </div>
  </div>
  <h5>CSV Options</h5>
  <div class="row-fluid">
    <div class="editor-option">
      <label>CSV Header</label><input type="checkbox" ng-model="panel.csv.header" ng-checked="panel.csv.header">
    </div>
    <div class="editor-option">
      <label>All Fields</label><input type="checkbox" ng-model="panel.csv.allfields" ng-checked="panel.csv.allfields">
    </div>
  </div>
  